body, html {
  margin: 0;
  height: 100%;
}

.control input, .input-control input {
  width: 100%;
  border-radius: 30px;
  background-color: white;
  padding: 2px 6px;
  border: 1px solid #999;
  font-size: 110%;
  width: 170px;
}

.content {
  display: flex;
  height: 100%;
}
.content #editor-wrapper {
  flex: 2;
}
.content #editor-wrapper #editor .socket.string {
  background: #6f377e;
}
.content #editor-wrapper #editor .socket.action {
  background: white;
  border-color: grey;
  border-radius: 3px;
  width: 15px;
}
.content #editor-wrapper #editor .node.message-event {
  background: #767676;
}
.content #editor-wrapper #editor .input-control input {
  width: 140px;
}
.content #telegram {
  margin: 15px;
  flex: 1;
  height: calc(100% - 2 * 15px);
  border: 2px solid blue;
  background: url("http://78.media.tumblr.com/913fc95846350c30232a5608a322b78e/tumblr_obykzyjxZt1vbllj8o4_1280.png");
  background-size: cover;
}
.content #telegram .messages {
  height: calc(100% - 80px);
  max-height: calc(100% - 80px);
  overflow: auto;
}
.content #telegram .messages .message {
  display: flex;
  padding: 10px;
}
.content #telegram .messages .message.owner {
  flex-direction: row-reverse;
}
.content #telegram .messages .message .avatar {
  display: inline-block;
  border-radius: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  height: 40px;
  margin: 0 12px;
  overflow: hidden;
}
.content #telegram .messages .message .avatar img {
  height: 40px;
  width: 40px;
}
.content #telegram .messages .message .text-wrap {
  display: inline-block;
}
.content #telegram .messages .message .text-wrap .text {
  padding: 5px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
}
.content #telegram .messages .message .text-wrap .text a {
  color: #4f6;
}
.content #telegram .form {
  background: #839aed;
  height: 80px;
}
